div.wrapper.ohooo
- const upDog = dog.toUpperCase()
  p.hello Hello my dogs name is #{dog}
  p.hello Hello my dogs name is #{upDog}
  p#yo Yo!!
  img(src="doc.jpg" alt=`Dog ${dog}`)

h2 
  | Hello
  span How are you?