mixin storeForm(store = {})
<!-- enctype="multipart/form-data" -->
  form(action="/add" method="POST" class="card")
    label(for="name") Name
    input(type="test" name="name")

    label(for="description") Description
    textare(name="description")

    - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed']
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags")
          label(for=choice) #{choice}
    input(type="submit" value="Save" class="button")